[redis]
host-master1=127.0.0.1:6379
pwd-master1=123456

host-master2=127.0.0.1:6379
pwd-master2=123456

[database]
db.driver=mysql
db.dbname=xdcy
db.user=sujiangcy8888
db.password=sj8888++
db.host=rm-bp1jg2jk740716wp7eo.mysql.rds.aliyuncs.com:3306

[database.readonly]
db.driver=mysql
db.dbname=xdcy
db.user=sujiangcy8888
db.password=sj8888++
db.host=rm-bp1jg2jk740716wp7eo.mysql.rds.aliyuncs.com:3306

[mongo]
mongo-host=127.0.0.1:9990
mongo-pwd=root

[log]
log-level=5

[web]
isprot=0
im_port=8282
server_port=8287
filter_port=8289
conwritesize=32
